.header {
  background-color: map-get($colors, 'primary-text-color');
  padding: 12px 0;
  max-height: 80px;

  &__content {
    @extend %flex-between-center;
  }

  &__navigations {
    @extend %flex-center;
    @include flex-gap(32px);
  }
  &__list {
    @extend %flex-center;
    @include flex-gap(24px);
  }
  &__link {
    @extend %basic-link;
  }
}
