@use "sass:map";

.footer {

  $social-icon-size: 16px;

  background-color: map-get($colors, 'primary-text-color');
  padding: 55px 80px;

  &__top {
    @extend %flex-between-center;
    margin-bottom: 55px;
  }

  &__list {
    @extend %flex-between;
    @include flex-gap(25px);
  }

  &__link {
    @extend %basic-link;
  }

  &__subscribe {
    background-color: map-get($colors, 'bg-color-transparent');
    @extend %flex-between-center;
    @include flex-gap(64px);
    padding: 64px 80px;
    margin-bottom: map-get($spacings, '3xl');

  }

  &__subscribe-title {
    @extend %heading-xl;
    color: map-get($colors, 'basic-white-color');
    max-width: map-get($containers, 'sm-xl');
  }

  &__subscribe-form {
    @extend %flex-center;
    @include flex-gap(24px);
  }

  &__subscribe-input {
    width: 323px;
    height: 56px;
    padding: 0 25px;
    background-color: #353749;
    @extend %basic-border-style;
  }

  &__subscribe-input::placeholder {
    text-transform: capitalize;
    font-size: map-get($font-sizes, 'xs');
  }

  &__subscribe-button {
    height: 56px;
  }

  &__bottom {
    @extend %flex-between-center;
  }

  &__contacts {
    color: map-get($colors, 'secondary-text-color');

    a {
      color: map-get($colors, 'secondary-text-color');
    }
  }

  &__social-list {
    @extend %flex-center;
    @include flex-gap(26px);

    a {
      color: map-get($colors, 'secondary-text-color');
    }
  }

  &__social-list i {
    width: $social-icon-size;
    height: $social-icon-size;
  }

  &__social-list a {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: map-get($colors, 'basic-white-color');
    }
  }
}
