@use "sass:map";

.banner {
  padding: 128px 0;
  background-image:
          radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, #04040482 100%),
          url($base-assets-path + 'images/banner/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook.jpg');
  background-position: center;
  background-size: cover;

  &__content {
    color: map-get($colors, 'basic-white-color');
    max-width: map-get($containers, 'xl');
  }

  &__subtitle {
    @include base-text-style( map-get($line-height,'sm' ), 0.19em);
    font-weight: map-get($font-weights, 'medium');
    margin-bottom: map-get($spacings, 'xl');
  }

  &__title {
    @include main-title-styles(
                    map-get($font-sizes,  'xxl'),
                    map-get($font-weights, 'bold'),
                    map-get($line-height, 'xs'),
    );
    letter-spacing: -0.04em;
    margin-bottom: map-get($spacings, 'xl');
  }

  &__date {
    @extend %flex-center;
    @include flex-gap(10px);
    margin-bottom: map-get($spacings, 'base');
  }

  &__speaker {
    span {
      color: map-get($colors, 'yellow-color');
    }
  }

  &__description {
    margin-bottom: map-get($spacings, '4xl');
  }
}
