@use "sass:map";

.testimonials {

  &__content {
    background-color: map-get($colors, 'accent-light-yellow-color');
    @extend %flex-between;
    padding: 80px 112px 75px;
  }

  &__header {
    max-width: 349px;
  }

  &__subtitle {
    @include base-text-style(map-get($line-height, 'sm'), 0.19em);
    font-weight: map-get($font-weights, 'bold');
    margin-bottom: 12px;
  }

  &__title {
    @extend %basic-subtitle-styles;
    margin-bottom: 16px;
  }

  &__body {
    padding-left: 95px;
    border-left: 1px solid map-get($colors, 'border-color');
  }

  &__text {
    font-weight: map-get($font-weights, 'bold');
    font-size: map-get($font-sizes, 'md');
    line-height: map-get($line-height,'md');
    max-width: 469px;
    margin-bottom: 120px;
  }

  &__footer {
    @extend %flex-between;
    align-items: center;
  }

  &__author {
    @extend %flex-between;
    align-items: center;
    gap: 16px;
  }

  &__author-name {
    font-weight: map-get($font-weights, 'bold');
    font-size: map-get($font-sizes, 'md');
    line-height: map-get($line-height,'md');
  }

  &__author-location {
    color: map-get($colors, 'secondary-text-color');
  }

  &__controls {
    @extend %flex-between;
    align-items: center;
    gap: 16px;
  }

  &__button {
    background-color: map-get($colors, 'basic-white-color');
    @extend %flex-center;
    justify-content: center;
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    transition: all 0.3s ease;

    i {
      @extend %flex-center;
      justify-content: center;
      font-size: 15px;
    }

    &:hover {
      background-color: map-get($colors, 'primary-text-color');
      transform: scale(1.2);
      i {
        color: map-get($colors, 'basic-white-color');
      }
    }
  }
}
