@use "sass:map";

.testimonials {
  $btn-size: 48px;

  &__content {
    background-color: map-get($colors, 'accent-light-yellow-color');
    @extend %flex-between;
    padding: 80px 112px 75px;
  }

  &__header {
    max-width: map-get($containers, 'xs');
  }

  &__subtitle {
    @include base-text-style(map-get($line-height, 'sm'), 0.19em);
    font-weight: map-get($font-weights, 'semi-bold');
    margin-bottom: map-get($spacings, 'md');
  }

  &__title {
    @extend %heading-xl;
    margin-bottom: map-get($spacings, 'base');
  }

  &__body {
    padding-left: 95px;
    border-left: 1px solid map-get($colors, 'border-color');
  }

  &__text {
    @include main-title-styles(
          map-get($font-sizes, 'md'),
          map-get($font-weights, 'bold'),
          map-get($line-height, 'md'),
    );
    max-width: map-get($containers, 'xs-md');
    margin-bottom: 120px;
  }

  &__footer {
    @extend %flex-between-center;
  }

  &__author {
    @extend %flex-between-center;
    @include flex-gap(16px);
  }

  &__author-name {
    @include main-title-styles(
                    map-get($font-sizes, 'md'),
                    map-get($font-weights, 'bold'),
                    map-get($line-height, 'md'),
    );
  }

  &__author-location {
    color: map-get($colors, 'secondary-text-color');
  }

  &__controls {
    @extend %flex-between-center;
    @include flex-gap(16px);
  }

  &__button {
    background-color: map-get($colors, 'basic-white-color');
    @extend %flex-center;
    justify-content: center;
    padding: 0;
    width: $btn-size;
    height: $btn-size;
    border-radius: 50px;
    transition: all 0.3s ease;

    i {
      @extend %flex-center;
      justify-content: center;
      font-size: 15px;
    }

    &:hover {
      background-color: map-get($colors, 'primary-text-color');
      transform: scale(1.2);
      i {
        color: map-get($colors, 'basic-white-color');
      }
    }
  }
}
