.about {
  $flex-controls: 1 1 50%;
  $btn-shadow: 0 0 17px 0 #9676d2;

  &__content {
    position: relative;
    background-color: map-get($colors, 'lavander-color');
    @extend %flex-between;
    @include flex-gap(80px);
    padding: 95px 80px;
  }

  &__img {
    position: absolute;
    top: -23px;
    right: 0;
  }

  &__us,
  &__mission {
    flex: $flex-controls;
  }

  &__subtitle {
    @include main-title-styles(
        map-get($font-sizes, 'xs'),
        map-get($font-weights, 'semi-bold'),
        map-get($line-height, 'sm'),
    );
    margin-bottom: 24px;
  }

  &__title {
    @extend %heading-xl;
    max-width: 485px;
    margin-bottom: 16px;

    &--mission {
      @extend %heading-lg;
    }
  }

  &__descriptions {
    color: map-get($colors, 'secondary-text-color');
    margin-bottom: 16px;
  }

  &__btn {
    @include main-title-styles(
        map-get($font-sizes, 'sm'),
        map-get($font-weights, 'bold'),
        map-get($line-height, 'xl'),
    );
    color: map-get($colors, 'accent-purple');
    border-radius: 5px;
    padding: 16px 8px;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: $btn-shadow;
    }
  }
}
