.join {

  &__content {
    max-width: 414px;
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    @extend %heading-xl;
    margin-bottom: map-get($spacings, 'base');
  }

  &__subtitle {
    color: map-get($colors, 'secondary-text-color');
    margin-bottom: map-get($spacings, 'xxl');
  }

  &__btn {
    line-height: map-get($line-height, 'md');
  }
}
