@use "sass:map";

.author-hero {

  background-color: map-get($colors, 'lavander-color');
  padding: 128px 0;
  position: relative;

  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  &__content {
    @extend %flex-center;
    @include flex-gap(32px);
  }

  &__title {
    @extend %heading-xxl;
    margin-bottom: map-get($spacings, 'xl');
    max-width: map-get($containers, 'md-xl');
  }

  &__desc {
    color: map-get($colors, 'secondary-text-color');
    max-width: 665px;
    margin-bottom: map-get($spacings, 'xl');
  }

  &__social {
    @extend %flex-center;
    @include flex-gap(16px);

    i {
      color: map-get($colors, 'primary-text-color');
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
