@use "sass:map";

.authors {

  &__title {
    @extend %heading-xl;
    text-align: center;
    margin-bottom: map-get($spacings, '4xl');
  }

  &__content {
    @extend %flex-center;
    @include flex-gap(32px);
    justify-content: center;
  }
}

.author-card {
  text-align: center;
  padding: 40px 28px;

  &__picture {
    @extend %flex-center;
    justify-content: center;
    margin-bottom: map-get($spacings, 'lg');
  }

  &__name {
    @extend %heading-lg;
  }

  &__desc {
    font-size: map-get($font-sizes, 'xxs');
    line-height: map-get($line-height, 'lg');
    color: map-get($colors, 'secondary-text-color');
    margin-bottom: map-get($spacings, 'lg');
  }

  &__social {
    @extend %flex-center;
    @include flex-gap(16px);
    justify-content: center;
  }

  &__link {
    color: map-get($colors, 'primary-text-color');
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}
