.posts {
  margin-top: 128px;

  &__content {
    @include flex-gap(32px);
  }

  &__featured {
    max-width: map-get($containers, 'lg');
  }

  &__title {
    @extend %heading-xl;
    margin-bottom: map-get($spacings, 'xxl');
  }

  &__card {
    @extend %basic-border-style;
    padding: map-get($spacings, 'xxl');
  }

  &__picture {
    margin-bottom: map-get($spacings, 'xxl');
  }

  &__date {
    @extend %flex-center;
    @include flex-gap(10px);
    @include main-title-styles(
             map-get($font-sizes, 'xxs'),
             map-get($font-weights, 'medium'),
             map-get($line-height, 'lg'),
    );
    margin-bottom: map-get($spacings, 'sm');
  }

  &__speaker {
    span {
      color: map-get($colors, 'accent-purple');
    }
  }

  &__subtitle {
    @extend %heading-lg;
    max-width: map-get($containers, 'md');
    margin-bottom: map-get($spacings, 'md');
  }

  &__info {
    color: map-get($colors, 'secondary-text-color');
    max-width: map-get($containers, 'sm-lg');
    margin-bottom: map-get($spacings, 'xxl');
  }

  &__recent-controls {
    @extend %flex-between-center;
    margin-bottom: map-get($spacings, 'xxl');

    h2 {
      margin-bottom: 0;
    }

    a {
      color: map-get($colors, 'accent-purple');
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-bottom: 2px solid map-get($colors, 'accent-purple');
      }
    }
  }

  &__recent-card {
    padding: map-get($spacings, 'xxl');
  }

  &__recent-subtitle {
    @include main-title-styles(
        map-get($font-sizes, 'md'),
        map-get($font-weights, 'bold'),
        map-get($line-height, 'md'),
    );
  }
}
