.posts {
  margin-top: 128px;

  &__content {
    @include flex-gap(32px);
  }

  &__featured {
    max-width: map-get($containerss, 'lg');
  }

  &__title {
    @extend %heading-xl;
    margin-bottom: 32px;
  }

  &__card {
    @extend %basic-border-style;
    padding: 32px;
  }

  &__picture {
    margin-bottom: 32px;
  }

  &__date {
    @extend %flex-center;
    @include flex-gap(10px);
    @include main-title-styles(
             map-get($font-sizes, 'xxs'),
             map-get($font-weights, 'medium'),
             map-get($line-height, 'lg'),
    );
    margin-bottom: 8px;
  }

  &__speaker {
    span {
      color: map-get($colors, 'accent-purple');
    }
  }

  &__subtitle {
    @extend %heading-lg;
    max-width: 595px;
    margin-bottom: 16px;
  }

  &__info {
    color: map-get($colors, 'secondary-text-color');
    max-width: 555px;
    margin-bottom: 32px;
  }

  &__recent-controls {
    @extend %flex-between-center;
    margin-bottom: 32px;

    h2 {
      margin-bottom: 0;
    }

    a {
      color: map-get($colors, 'accent-purple');
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-bottom: 2px solid map-get($colors, 'accent-purple');
      }
    }
  }

  &__recent-card {
    padding: 32px;
  }

  &__recent-subtitle {
    @include main-title-styles(
        map-get($font-sizes, 'md'),
        map-get($font-weights, 'bold'),
        map-get($line-height, 'md'),
    );
  }
}
