.partners {

  color: map-get($colors, 'secondary-text-color');
  padding: 40px 0;

  &__content {
    @extend %flex-center;
    @include flex-gap(85px);
    justify-content: center;
  }

  &__title,
  &__item {
    @include main-title-styles(
          map-get($font-sizes, 'md'),
          map-get($font-weights, 'bold'),
          map-get($line-height, 'md')
    )
  }

  &__list {
    @extend %flex-center;
    @include flex-gap(65px);
  }

  &__item {
    max-width: 160px;
    @extend %flex-center;
    @include flex-gap(8px);
  }
}

