.categories {

  $wrapper-picture-width: 48px;
  $base-card-width: (
          'height': 228px,
          'width': 296px,
  );

  &__title {
    @extend %heading-xl;
    text-align: center;
    margin-bottom: map-get($spacings, '4xl');
  }

  &__content {
    @extend %flex-between;
    @include flex-gap(32px);
  }

  &__card {
    max-width: map-get($base-card-width, 'width');
    max-height: map-get($base-card-width, 'height');
    padding: map-get($spacings, 'xxl');
  }

  &__card-picture {
    background-color: map-get($colors, 'accent-light-yellow-color');
    max-width: $wrapper-picture-width;
    max-height: $wrapper-picture-width;
    @extend %flex-center;
    justify-content: center;
    padding: map-get($spacings, 'md');
    border-radius: 15px;
    margin-bottom: 16px;
  }

  &__card-title {
    @extend %heading-lg;
    margin-bottom: map-get($spacings, 'xs');
  }

  &__card-desc {
    color: map-get($colors, 'secondary-text-color');
  }
}
