@use "sass:map";

.story {

  &__wrapper {
    position: relative;
  }

  &__content {
    background-color: map-get($colors, 'basic-white-color');
    max-width: map-get($containerss, 'md');
    padding: 80px;
    position: absolute;
    right: -100px;
    bottom: 0;
    z-index: 10;
  }

  &__subtitle {
    @include base-text-style(map-get($line-height, 'sm'), 0.19em);
    font-size: map-get($font-sizes, 'xs');
    font-weight: map-get($font-weights, 'semi-bold');
    margin-bottom: 24px;
  }

  &__title {
    @include main-title-styles(
          map-get($font-sizes, 'xl'),
          map-get($font-weights, 'bold'),
          map-get($line-height, 'md'),
    );
    letter-spacing: -0.04em;
    max-width: 548px;
    margin-bottom: 16px;
  }

  &__desc {
    color: map-get($colors, 'secondary-text-color');
    margin-bottom: 32px;
  }

  &__btn {
    line-height: map-get($line-height, 'md');
  }
}
