@use "sass:map";

%flex-between {
  display: flex;
  justify-content: space-between;
}

%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-center {
  display: flex;
  align-items: center;
}

%basic-link {
  color: map-get($colors, 'basic-white-color');
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;

  &:hover {
    border-bottom: 2px solid map-get($colors, 'basic-white-color');
  }
}

%main-text-style {
  font-size: map-get($font-sizes, 'xs');
  font-weight: map-get($font-weights, 'regular');
  color: map-get($colors, 'primary-text-color');
  line-height: map-get($line-height, 'xl');
}

%heading-xl {
  font-weight: map-get($font-weights, 'bold');
  font-size: map-get($font-sizes, 'lg');
  line-height: map-get($line-height, 'md');
  letter-spacing: -0.06em;
}

%heading-lg {
  font-weight: map-get($font-weights, 'bold');
  font-size: map-get($font-sizes, 'semi-lg');
  line-height: map-get($line-height, 'lg');
  letter-spacing: -0.04em;
}

%basic-border-style {
  border: 1px solid map-get($colors, 'border-color');
}
