.footer__list, .testimonials__content, .categories__content, .about__content {
  display: flex;
  justify-content: space-between;
}

.footer__bottom, .footer__subscribe, .footer__top, .testimonials__controls, .testimonials__author, .testimonials__footer, .posts__recent-controls, .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-list, .footer__subscribe-form, .testimonials__button i, .testimonials__button, .partners__item, .partners__list, .partners__content, .author-card__social, .author-card__picture, .authors__content, .categories__card-picture, .posts__date, .banner__date, .header__list, .header__navigations {
  display: flex;
  align-items: center;
}

.footer__link, .header__link {
  color: #FFFFFF;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.footer__link:hover, .header__link:hover {
  border-bottom: 2px solid #FFFFFF;
}

.footer__subscribe-title, .join__title, .testimonials__title, .authors__title, .categories__title, .about__title, .posts__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: -0.06em;
}

.author-card__name, .categories__card-title, .about__title--mission, .posts__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.43;
  letter-spacing: -0.04em;
}

.footer__subscribe-input, .posts__card {
  border: 1px solid #afb0b7;
}

@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-Regular.eot");
  src: url("./../../fonts/Sen-Regular.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-Regular.woff2") format("woff2"), url("./../../fonts/Sen-Regular.woff") format("woff"), url("./../../fonts/Sen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-Medium.eot");
  src: url("./../../fonts/Sen-Medium.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-Medium.woff2") format("woff2"), url("./../../fonts/Sen-Medium.woff") format("woff"), url("./../../fonts/Sen-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-SemiBold.eot");
  src: url("./../../fonts/Sen-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-SemiBold.woff2") format("woff2"), url("./../../fonts/Sen-SemiBold.woff") format("woff"), url("./../../fonts/Sen-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-ExtraBold.eot");
  src: url("./../../fonts/Sen-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-ExtraBold.woff2") format("woff2"), url("./../../fonts/Sen-ExtraBold.woff") format("woff"), url("./../../fonts/Sen-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-Bold.eot");
  src: url("./../../fonts/Sen-Bold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-Bold.woff2") format("woff2"), url("./../../fonts/Sen-Bold.woff") format("woff"), url("./../../fonts/Sen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  font-family: "Sen", sans-serif;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.btn:focus {
  border-color: #232536;
}
.btn.btn-primary {
  background-color: #FFD050;
  color: #232536;
  font-weight: 700;
}
.btn.btn-primary:hover {
  background-color: #c7a445;
}
.btn.btn-secondary {
  background-color: #FFFFFF;
  color: #232536;
  font-weight: 700;
}
.btn.btn-secondary:hover {
  background-color: #F4F4F4;
}
.btn.btn-lg {
  padding: 18px 50px;
  font-size: 24px;
}
.btn.btn-md {
  padding: 16px 48px;
  font-size: 18px;
}
.btn.btn-sm {
  padding: 12px 42px;
  font-size: 16px;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #232536;
  line-height: 1.75;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1280px;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  overflow: hidden;
}

.margin-top {
  margin-top: 128px;
}

.text-uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.accent-light-grey {
  background-color: #F4F4F4;
}

.accent-light-yellow {
  background-color: #FBF6EA;
}

.accent-orange {
  background-color: #FFD050;
}

.main-border {
  border: 1px solid #afb0b7;
}

.header {
  background-color: #232536;
  padding: 12px 0;
  max-height: 80px;
}
.header__navigations {
  display: flex;
  gap: 32px;
}
.header__list {
  display: flex;
  gap: 24px;
}
.banner {
  padding: 128px 0;
  background-image: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 4, 4, 0.5098039216) 100%), url("./../../assets/images/banner/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook.jpg");
  background-position: center;
  background-size: cover;
}
.banner__content {
  color: #FFFFFF;
  max-width: 805px;
}
.banner__subtitle {
  line-height: 1.25;
  letter-spacing: 0.19em;
  font-weight: 500;
  margin-bottom: 24px;
}
.banner__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
}
.banner__date {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.banner__speaker span {
  color: #FFD050;
}
.banner__description {
  margin-bottom: 48px;
}

.posts {
  margin-top: 128px;
}
.posts__content {
  display: flex;
  gap: 32px;
}
.posts__featured {
  max-width: 730px;
}
.posts__title {
  margin-bottom: 32px;
}
.posts__card {
  padding: 32px;
}
.posts__picture {
  margin-bottom: 32px;
}
.posts__date {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 8px;
}
.posts__speaker span {
  color: #592EA9;
}
.posts__subtitle {
  max-width: 595px;
  margin-bottom: 12px;
}
.posts__info {
  color: #6D6E76;
  max-width: 555px;
  margin-bottom: 32px;
}
.posts__recent-controls {
  margin-bottom: 32px;
}
.posts__recent-controls h2 {
  margin-bottom: 0;
}
.posts__recent-controls a {
  color: #592EA9;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.posts__recent-controls a:hover {
  border-bottom: 2px solid #592EA9;
}
.posts__recent-card {
  padding: 32px;
}
.posts__recent-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}

.about__content {
  position: relative;
  background-color: #F4F0F8;
  display: flex;
  gap: 80px;
  padding: 95px 80px;
}
.about__img {
  position: absolute;
  top: -23px;
  right: 0;
}
.about__us, .about__mission {
  flex: 1 1 50%;
}
.about__subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 24px;
}
.about__title {
  max-width: 485px;
  margin-bottom: 16px;
}
.about__descriptions {
  color: #6D6E76;
  margin-bottom: 16px;
}
.about__btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  color: #592EA9;
  border-radius: 5px;
  padding: 16px 8px;
  transition: box-shadow 0.3s;
}
.about__btn:hover {
  box-shadow: 0 0 17px 0 #9676d2;
}

.categories__title {
  text-align: center;
  margin-bottom: 48px;
}
.categories__content {
  display: flex;
  gap: 32px;
}
.categories__card {
  max-width: 296px;
  max-height: 228px;
  padding: 32px;
}
.categories__card-picture {
  background-color: #FBF6EA;
  max-width: 48px;
  max-height: 48px;
  justify-content: center;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 16px;
}
.categories__card-title {
  margin-bottom: 5px;
}
.categories__card-desc {
  color: #6D6E76;
}

.story__wrapper {
  position: relative;
}
.story__content {
  background-color: #FFFFFF;
  max-width: 595px;
  padding: 80px;
  position: absolute;
  right: -100px;
  bottom: 0;
  z-index: 10;
}
.story__subtitle {
  line-height: 1.25;
  letter-spacing: 0.19em;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}
.story__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.04em;
  max-width: 548px;
  margin-bottom: 16px;
}
.story__desc {
  color: #6D6E76;
  margin-bottom: 32px;
}
.story__btn {
  line-height: 1.33;
}

.authors__title {
  text-align: center;
  margin-bottom: 48px;
}
.authors__content {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.author-card {
  text-align: center;
  padding: 40px 28px;
  transition: box-shadow 0.3s;
}
.author-card:hover {
  box-shadow: 0 5px 12px 0 #7c7676;
}
.author-card__picture {
  justify-content: center;
  margin-bottom: 20px;
}
.author-card__desc {
  font-size: 14px;
  line-height: 1.43;
  color: #6D6E76;
  margin-bottom: 20px;
}
.author-card__social {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.author-card__link {
  color: #232536;
  cursor: pointer;
  transition: all 0.3s;
}
.author-card__link:hover {
  opacity: 0.7;
}

.partners {
  color: #6D6E76;
  padding: 40px 0;
}
.partners__content {
  display: flex;
  gap: 85px;
  justify-content: center;
}
.partners__title, .partners__item {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}
.partners__list {
  display: flex;
  gap: 65px;
}
.partners__item {
  max-width: 160px;
  display: flex;
  gap: 8px;
}

.testimonials__content {
  background-color: #FBF6EA;
  padding: 80px 112px 75px;
}
.testimonials__header {
  max-width: 350px;
}
.testimonials__subtitle {
  line-height: 1.25;
  letter-spacing: 0.19em;
  font-weight: 600;
  margin-bottom: 12px;
}
.testimonials__title {
  margin-bottom: 16px;
}
.testimonials__body {
  padding-left: 95px;
  border-left: 1px solid #afb0b7;
}
.testimonials__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  max-width: 465px;
  margin-bottom: 120px;
}
.testimonials__author {
  display: flex;
  gap: 16px;
}
.testimonials__author-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
}
.testimonials__author-location {
  color: #6D6E76;
}
.testimonials__controls {
  display: flex;
  gap: 16px;
}
.testimonials__button {
  background-color: #FFFFFF;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.testimonials__button i {
  justify-content: center;
  font-size: 15px;
}
.testimonials__button:hover {
  background-color: #232536;
  transform: scale(1.2);
}
.testimonials__button:hover i {
  color: #FFFFFF;
}

.join__content {
  max-width: 414px;
  text-align: center;
  margin: 0 auto;
}
.join__title {
  margin-bottom: 16px;
}
.join__subtitle {
  color: #6D6E76;
  margin-bottom: 32px;
}
.join__btn {
  line-height: 1.33;
}

.footer {
  background-color: #232536;
  padding: 55px 80px;
}
.footer__top {
  margin-bottom: 55px;
}
.footer__list {
  display: flex;
  gap: 25px;
}
.footer__subscribe {
  background-color: #353749;
  display: flex;
  gap: 64px;
  padding: 64px 80px;
  margin-bottom: 45px;
}
.footer__subscribe-title {
  color: #FFFFFF;
  max-width: 562px;
}
.footer__subscribe-form {
  display: flex;
  gap: 24px;
}
.footer__subscribe-input {
  width: 323px;
  height: 56px;
  padding: 0 25px;
  background-color: #353749;
}
.footer__subscribe-input::placeholder {
  text-transform: capitalize;
  font-size: 16px;
}
.footer__subscribe-button {
  height: 56px;
}
.footer__contacts {
  color: #6D6E76;
}
.footer__contacts a {
  color: #6D6E76;
}
.footer__social-list {
  display: flex;
  gap: 26px;
}
.footer__social-list a {
  color: #6D6E76;
}
.footer__social-list i {
  width: 16px;
  height: 16px;
}
.footer__social-list a {
  cursor: pointer;
  transition: all 0.3s;
}
.footer__social-list a:hover {
  color: #FFFFFF;
}

/*# sourceMappingURL=home-page.css.map */
