.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__bottom, .footer__subscribe, .footer__top, .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-list, .footer__subscribe-form, .header__list, .header__navigations {
  display: flex;
  align-items: center;
}

.footer__link, .header__link {
  color: #FFFFFF;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.footer__link:hover, .header__link:hover {
  border-bottom: 2px solid #FFFFFF;
}

.policy-content__title, .policy-header__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.04em;
}

.footer__subscribe-title, .policy-content__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: -0.06em;
}

.footer__subscribe-input {
  border: 1px solid #afb0b7;
}

@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-Regular.eot");
  src: url("./../../fonts/Sen-Regular.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-Regular.woff2") format("woff2"), url("./../../fonts/Sen-Regular.woff") format("woff"), url("./../../fonts/Sen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-Medium.eot");
  src: url("./../../fonts/Sen-Medium.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-Medium.woff2") format("woff2"), url("./../../fonts/Sen-Medium.woff") format("woff"), url("./../../fonts/Sen-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-SemiBold.eot");
  src: url("./../../fonts/Sen-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-SemiBold.woff2") format("woff2"), url("./../../fonts/Sen-SemiBold.woff") format("woff"), url("./../../fonts/Sen-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-ExtraBold.eot");
  src: url("./../../fonts/Sen-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-ExtraBold.woff2") format("woff2"), url("./../../fonts/Sen-ExtraBold.woff") format("woff"), url("./../../fonts/Sen-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./../../fonts/Sen-Bold.eot");
  src: url("./../../fonts/Sen-Bold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Sen-Bold.woff2") format("woff2"), url("./../../fonts/Sen-Bold.woff") format("woff"), url("./../../fonts/Sen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  font-family: "Sen", sans-serif;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.btn:focus {
  border-color: #232536;
}
.btn.btn-primary {
  background-color: #FFD050;
  color: #232536;
  font-weight: 700;
}
.btn.btn-primary:hover {
  background-color: #c7a445;
}
.btn.btn-secondary {
  background-color: #FFFFFF;
  color: #232536;
  font-weight: 700;
}
.btn.btn-secondary:hover {
  background-color: #F4F4F4;
}
.btn.btn-lg {
  padding: 18px 50px;
  font-size: 24px;
}
.btn.btn-md {
  padding: 16px 48px;
  font-size: 18px;
}
.btn.btn-sm {
  padding: 12px 42px;
  font-size: 16px;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #232536;
  line-height: 1.75;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1280px;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  overflow: hidden;
}

.margin-top {
  margin-top: 128px;
}

.text-uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
}

.accent-light-grey {
  background-color: #F4F4F4;
}

.accent-light-yellow {
  background-color: #FBF6EA;
}

.accent-orange {
  background-color: #FFD050;
}

.main-border {
  border: 1px solid #afb0b7;
}

.header {
  background-color: #232536;
  padding: 12px 0;
  max-height: 80px;
}
.header__navigations {
  display: flex;
  gap: 32px;
}
.header__list {
  display: flex;
  gap: 24px;
}
.policy-header {
  background-color: #F4F0F8;
  padding: 80px 0;
  text-align: center;
}
.policy-header__data {
  color: #6D6E76;
}

.policy-content__body {
  max-width: 768px;
  margin: 0 auto;
}
.policy-content__body p {
  margin-bottom: 32px;
}
.policy-content__body p:last-child {
  margin-bottom: 0;
}
.policy-content__title {
  margin-bottom: 32px;
}
.policy-content__subtitle {
  margin-bottom: 24px;
}

.footer {
  background-color: #232536;
  padding: 55px 80px;
}
.footer__top {
  margin-bottom: 55px;
}
.footer__list {
  display: flex;
  gap: 25px;
}
.footer__subscribe {
  background-color: #353749;
  display: flex;
  gap: 64px;
  padding: 64px 80px;
  margin-bottom: 45px;
}
.footer__subscribe-title {
  color: #FFFFFF;
  max-width: 562px;
}
.footer__subscribe-form {
  display: flex;
  gap: 24px;
}
.footer__subscribe-input {
  width: 323px;
  height: 56px;
  padding: 0 25px;
  background-color: #353749;
}
.footer__subscribe-input::placeholder {
  text-transform: capitalize;
  font-size: 16px;
}
.footer__subscribe-button {
  height: 56px;
}
.footer__contacts {
  color: #6D6E76;
}
.footer__contacts a {
  color: #6D6E76;
}
.footer__social-list {
  display: flex;
  gap: 26px;
}
.footer__social-list a {
  color: #6D6E76;
}
.footer__social-list i {
  width: 16px;
  height: 16px;
}
.footer__social-list a {
  cursor: pointer;
  transition: all 0.3s;
}
.footer__social-list a:hover {
  color: #FFFFFF;
}

/*# sourceMappingURL=privacy-policy-page.css.map */
